<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talk.gall.mapper.GallMapper">
	<insert id="insert">
		INSERT INTO gall_dog (board_num, board_title, board_content, writer)
			VALUES
		(board_num.nextval, #{board_title}, #{board_content}, #{writer})
	</insert>

	<select id="select" resultType="com.talk.gall.domain.GallDogVO">
		SELECT * FROM gall_dog WHERE board_num=#{board_num}
	</select>

	<delete id="delete">
		DELETE FROM gall_dog WHERE board_num=#{board_num}
	</delete>
	
	<update id="update">
		UPDATE gall_dog
			SET 
		title=#{board_title}, content=#{board_content}, m_date=SYSDATE 
			WHERE 
		board_num=#{board_num}
	</update>
</mapper>

<!-- PostMapper.xml을 참조 -->